* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "navbar navbar"
        "sidebar main";
    background-color: rgb(255, 243, 224);;
}
nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: rgb(255, 196, 0);
    padding: 1em;

    display: grid;
    grid-template-areas: "menu navbar";
    grid-template-columns: 25px 1fr;
    justify-items: center;
}
aside {
    height: calc(95.8vh - 59.2px);
    top: 59.2px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: rgb(252, 229, 180);

    padding-top: 35px;
    justify-items: center;
}
main {
    grid-area: main;
    background-color: rgb(255, 243, 224);
    width: 100%;
    height: 100%;
}
.radio-container {
    display: inline-flex;
    gap: 3px;
}
.custom-radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: 1px solid #fff7e3;
    cursor: pointer;
    background-color: rgb(255, 196, 0);
    border-radius: 3px;
    font-weight: bold;

    margin: 5px;
}
.radio-input {
    /* hide default radio button */
    opacity: 0;
    /* needed for hiding  */
    position: absolute;
}
.radio-input:checked + .custom-radio-container {
    background-color: rgb(255, 153, 0);
}
.button-input {
    margin-top: 50px;
}
#lang {
    display: flex;
    gap: 10px;
}
#game {
    grid-area: game;

    display: grid;
    justify-content: center;
}
#menu-btn {
    background: url('media/images/burger.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    border: none;
    padding:10px;
}

#main-screen {
    align-items: center;
}
#hangman-frame {
    width: 340px;
    height: 200px;
    border: 1px black solid;
}
#lang-options {
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-size: 25px;
}
#diff-options {
    justify-items: center;
    margin: 10px;
    font-size: 25px;
}
#game-diff {
    display: block;
    width: fit-content;
}
#keyboard-en {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Adjust columns as needed */
    gap: 5px;
    margin-top: 20px;
    justify-items: center;
}
#keyboard-en button {
    font-size: 30px;
    width: 45px;
    height: 45px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
#keyboard button.disabled {
    background-color: #ffffff;
    color: #aaa;
    cursor: not-allowed;
}
#word-display {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 5px;
}
#theme {
    margin-bottom: 35px;
}
#theme h1 {
    font-size: 40px;
    text-align: center;
}
#theme p {
    font-size: 25px;
    text-align: center;
}
#lives {
    font-size: 25px;
    margin: 5px 0;
}
#result {
    text-align: center;
    font-size: 25px;
    margin-top: 15px;
}
#new-game {
    width: fit-content;
    font-size: 30px;
    background-color: rgb(255, 196, 0);
    border: none;
    text-align: center;
}

@media(max-width: 800px) {
    body {
        grid-template-columns: 1px 1fr;
    }
    aside {
        position: fixed;
        width: 80%;
        display: none;
    }
    .show {
        display: block;
    }
    #diff-options, #lang-options {
        font-size: 30px;
    }
    .custom-radio-container {
        width: 140px;
        height: 45px;
    }
}