* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "navbar navbar"
        "sidebar main";
}
nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: rgb(255, 196, 0);
    padding: 1em;

    display: grid;
    grid-template-areas: "menu navbar";
    grid-template-columns: 25px 1fr;
    justify-items: center;
}
aside {
    height: calc(100vh - 59.2px);
    top: 59.2px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: rgb(252, 229, 180);

    padding-top: 35px;
    justify-items: center;
}
main {
    grid-area: main;
    background-color: rgb(255, 243, 224);
}
.radio-container {
    display: inline-flex;
    gap: 3px;
}
.custom-radio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 25px;
    border: 1px solid #fff7e3;
    cursor: pointer;
    background-color: rgb(255, 196, 0);
    border-radius: 3px;
    font-weight: bold;

    margin: 5px;
}
.radio-input {
    /* hide default radio button */
    opacity: 0;
    /* needed for hiding  */
    position: absolute;
}
.radio-input:checked + .custom-radio-container {
    /* style for checked state */
    background-color: rgb(255, 153, 0);
}
.button-input {
    margin-top: 50px;
}
#lang {
    display: flex;
    gap: 10px;
}
#game {
    grid-area: game;

    display: grid;
    justify-content: center;
}
#game-dif {
    grid-area: dif;
}
#menu-btn {
    background: url('media/images/burger.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    border: none;
    padding:10px;
}

#main-screen {
    align-items: center;
}
#hangman-frame {
    width: 340px;
    height: 200px;
    border: 1px black solid;
}
#lang-options {
    justify-content: center;
    text-align: center;
    margin: 10px;
}
#diff-options {
    justify-items: center;
    margin: 10px;
}
#game-diff {
    display: block;
}
#keyboard-en {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Adjust columns as needed */
    gap: 5px;
    margin-top: 20px;
}
#keyboard-en button {
    font-size: 16px;
    width: 35px;
    height: 35px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}
#keyboard button.disabled {
    background-color: #eee;
    color: #aaa;
    cursor: not-allowed;
}

@media(max-width: 800px) {
    body {
        grid-template-columns: 1px 1fr;
    }
    aside {
        position: fixed;
        width: 80%;
        display: none;
    }
    .show {
        display: block;
    }
}