* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "navbar navbar"
        "sidebar main";
}
nav {
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: rgb(255, 196, 0);
    padding: 1em;

    display: grid;
    grid-template-areas: "menu navbar";
    grid-template-columns: 25px 1fr;
    justify-items: center;
}
aside {
    height: calc(100vh - 59.2px);
    top: 59.2px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: rgb(252, 229, 180);
}
main {
    grid-area: main;
    background-color: rgb(255, 243, 224);
}
#game {
    grid-area: game;

    display: grid;
    justify-content: center;
}
#game-dif {
    grid-area: dif;
}
#menu-btn {
    background: url('media/images/burger.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    border: none;
    padding:10px;
}

#main-screen {
    align-items: center;
}
#hangman-frame {
    width: 300px;
    height: 200px;
    border: 1px black solid;
}

@media(max-width: 800px) {
    body {
        grid-template-columns: 1px 1fr;
    }
    aside {
        position: fixed;
        width: 80%;
        display: none;
    }
    .show {
        display: block;
    }
}